# 코레일 계정 (회원번호 8자리 / 휴대폰번호 / 이메일 중 하나)
# 휴대폰번호는 하이픈을 꼭 넣어주세요: 010-1234-5678
KORAIL_ID=010-1234-5678
KORAIL_PW=비밀번호

# 선택: 좌석이 열렸을 때 알림을 받을 Slack/Discord incoming webhook
# KORAIL_WEBHOOK=https://hooks.slack.com/services/XXX/YYY/ZZZ
