# 코레일 계정 (회원번호 8자리 / 전화번호 010-0000-0000 / 이메일 중 하나)
KORAIL_ID=01012345678
KORAIL_PW=비밀번호

# 선택: 좌석이 열렸을 때 알림을 받을 Slack/Discord incoming webhook
# KORAIL_WEBHOOK=https://hooks.slack.com/services/XXX/YYY/ZZZ
